enl-slider, enl-slider * {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;

    list-style: none;
}

enl-slider{
     /* Basic Styles */
    display: block;
    overflow: hidden;

    /* Theme Styles */
    height: 500px;
    border: 1px solid red;

}

enl-slider > .enl-slider {
    /* Basic Styles */
    height: 100%;
    width: 100%;
}

enl-slider > .enl-slider > ul {
    /* Basic Styles */
    display: flex;
    flex-wrap: no-wrap;
    height: 100%;
    width: 100%;
    border: 1px solid pink;
}

enl-slider > .enl-slider > ul > li {
    /* Basic Styles */
    display: inline-block;
    flex: 1;
    overflow: hidden;
    height: 100%;
    border: 1px solid green;
    top: 0;

    /* Dynamic Value */
    min-width: 100%;
    max-width: 100%;
}

/* If component was not set up correctly */
enl-slider.failed{
    display: none;
}