<div id="menu-mobile">

                <div class="hamburger">

                    <div id="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                </div>



                <div class="menu-mobile-container">
                    <ul>

                        <li>

                            <a href="#">Podstrona 1</a>

                        </li>

                        <li>

                            <a href="#">Podstrona 2</a>

                        </li>

                        <li>

                            <a href="#">Podstrona 3</a>

                        </li>


                        <li>

                            <a href="#">Podstrona 4</a>

                        </li>


                    </ul>
                </div>


</div>